<div class="alert">
  <div class="container">
    <div class="row">
      <div class="col col-12">Welcome to [Shop Name Here]</div>
    </div>
  </div>
</div>

<!- large screen size ->

<div class="hidden-medium hidden-small hidden-tiny">
  <div class="header">
    <div class="container">
      <div class="row">
        <div class="col col-6 left">
          <a href="#">Returns</a>
          <a href="#">Track Orders</a>
        </div>
        <div class="col col-6 right cart-summary">
          <a href="#">Cart £0.00</a>  
        </div>
      </div>
    </div>
  </div>

  <div class="subheader">
    <div class="container">
      <div class="row">
        <div class="col col-4"></div>
        <div class="col col-4">
          <form class="search-form">
            <input type="text">
            <input type="submit" value="SEARCH">
          </form>
        </div>
        <div class="col col-4"></div>
      </div>
    </div>
  </div>
</div>


<!- medium screen size ->

<div class="hidden-main hidden-small hidden-tiny">
  <div class="header">
    <div class="container">
      <div class="row">
        <div class="col col-medium-6 left">
          <a href="#">Track Order</a>
          <a href="#">Returns</a>
        </div>
        <div class="col col-medium-6 right cart-summary">
          <a href="#">Cart £0.00</a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="subheader">
    <div class="container">
      <div class="row">
        <div class="col col-medium-12 center">
          <form class="search-form">
            <input type="text">
            <input type="submit" value="SEARCH">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<!- small screen size ->

<div class="hidden-main hidden-medium hidden-tiny">
  <div class="header">
    <div class="container">
      <div class="row">
        <div class="col col-small-6 left">
          <a href="#">Track Order</a>
          <a href="#">Returns</a>
        </div>
        <div class="col col-small-6 right cart-summary">
          <a href="#">Cart £0.00</a>
        </div>
      </div>
    </div>
  </div>

  <div class="subheader">
    <div class="container">
      <div class="row">
        <div class="col col-small-12 center">
          <form class="search-form">
            <input type="text">
            <input type="submit" value="SEARCH">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<!- tiny screen size ->

<div class="hidden-main hidden-medium hidden-small">
  <div class="header">
    <div class="container">
      <div class="row">
        <div class="col col-tiny-6 left">
          <a href="#">Track Order</a>
        </div>
        <div class="col col-tiny-6 right cart-summary">
          <a href="#">Cart £0.00</a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="subheader">
    <div class="container">
      <div class="row">
        <div class="col col-tiny-12 center">
          <form class="search-form">
            <input type="text">
            <input type="submit" value="SEARCH">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!- Cartoon ->

<div class="cartoon">
  <div class="container">
    <div class="row">
      <div class="col col-12"></div>
    </div>
  </div>
</div>

<!- Navigation ->

<div class="">
  <div class="container category-navigation">
    <div class="row">
      <div class="col col-tiny-6 col-small-3 col-medium-2 col-2"><a href="#">Display Kits</a></div>
      <div class="col col-tiny-6 col-small-3 col-medium-2 col-2"><a href="#">Selection Boxes</a></div>
      <div class="col col-tiny-6 col-small-3 col-medium-2 col-2"><a href="#">Sparklers</a></div>
        <div class="col col-tiny-6 col-small-3 col-medium-2 col-2"><a href="#">Rockets</a></div>
        <div class="col col-tiny-6 col-small-3 col-medium-2 col-2"><a href="#">Rocket Packs</a></div>
        <div class="col col-tiny-6 col-small-3 col-medium-2 col-2"><a href="#">Roman Candles</a></div>
        <div class="col col-tiny-6 col-small-3 col-medium-2 col-2"><a href="#">Fountains</a></div>
    </div>
  </div>
</div>

<!- Products ->

<div>
  <div class="container products">
    <div class="row">
      <div class="col col-3">
        <div class="filter">
          <ul>
            <li>Categories</li>
            <li class="sub-title"><a href="#">All Fireworks</a></li>
            <li><a href="#">Display Kits</a></li>
            <li><a href="#">Selection Boxes</a></li>
            <li><a href="#">Sparklers</a></li>
            <li><a href="#">Catherine Wheels</a></li>
            <li><a href="#">Fountains</a></li>
            <li><a href="#">Roman Candles</a></li>
            <li><a href="#">Single Rockets</a></li>
            <li><a href="#">Rocket Packs</a></li>
            <li><a href="#">Equipment</a></li>
          </ul>
        </div>
        <div class="filter price-filter">
          <ul>
            <li>Price Filter</li>
            <form>
              <input type="text"> to 
              <input type="text">
              <input type="submit" value=">">
            </form>
          </ul>
        </div>
      </div>
      <div class="col col-9">
        <div class="row">
          <div class="col col-4">1</div>
          <div class="col col-4">2</div>
          <div class="col col-4">3</div>
        </div>
      </div>
    </div>
  </div>
</div>